<header class="header">
    <img src="assets/img/logo.png" alt="Logo">
    <nav>
        <a id="resp-menu" class="responsive-menu" href="#"> Menu</a>
        <ul class="menu">
            <li><a href="#video1"> Преимущества</a></li>
            <li><a href="#video1"> Характеристики</a></li>
            <li><a href="#audience"> Для кого</a></li>
        </ul>
    </nav>
</header>
