@import "../utils/variables";
@import "../utils/mixins";

.content__audience {
  background-color: #3a2ff8;
  display: flex;
  justify-content: flex-end;
  margin-top: 217px;
  padding-bottom: 215px;
  position: relative;
  width: 100%;

  @media screen and (min-width: 1025px) and (max-width: 1919px) {
    margin-top: 130px;
    padding-bottom: 20px;
  }

  @include respond-to(tablet) {
    padding-bottom: 80px;
  }

  @include respond-to(phoneAndTablet) {
    margin-top: 60px;
    padding-bottom: 50px;
  }

  & > img {
    position: absolute;
    left: 0;
    width: 24%;
    height: auto;
    max-width: 511px;
    opacity: 0.1;
  }

  &-wrapper {
    margin-top: 80px;
    position: relative;
    width: 80.4%;

    &::after {
      opacity: 0.5;
      color: #ffffff;
      font-family: "Rubik Mono One", sans-serif;
      font-size: 186px;
      font-weight: 400;
      line-height: 182.84px;
      text-align: end;
      right: 20px;
      position: absolute;
      bottom: 0;
      content: "4.0 Rizor";
      display: block;
      width: 813px;
      height: 294px;
      letter-spacing: 6.4px;

      @include respond-to(phoneAndTablet) {
        display: none;
      }
    }

    @media screen and (min-width: 1025px) and (max-width: 1919px) {
      max-height: 545px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 92.4%;
    }

    @include respond-to(tablet) {
      margin-top: 120px;
      width: 93.4%;
    }

    @include respond-to(phoneAndTablet) {
      padding-right: 15px;
      padding-left: 15px;
      width: 100%;

      margin-top: 25px;
      max-height: 540px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    & > img {
      position: absolute;
      top: -27.7%;
      left: 23.7%;
      max-width: 1176px;
      @include size(75.3%, auto);

      @media screen and (min-width: 1025px) and (max-width: 1919px) {
        position: static;
        width: 56.3%;
      }

      @include respond-to(tablet) {
        top: -46.7%;
        left: 25.7%;
        width: 64.3%;
      }

      @include respond-to(phoneAndTablet) {
        position: static;
        width: 50%;
        margin-top: 108px;
      }
    }

    & > h1 {
      color: #ffffff;
      font-family: Roboto, sans-serif;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 1.6px;
      line-height: 30px;
      text-transform: uppercase;

      width: 110px;
      margin-bottom: 75px;

      @include respond-to(phoneAndTablet) {
        margin-bottom: 15px;
      }
    }

    & > p {
      color: #ffffff;
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 1.6px;
      line-height: 30px;
      width: 23%;

      & > span {
        font-weight: bold;
      }

      @media screen and (min-width: 1025px) and (max-width: 1919px) {
        width: 43%;
      }

      @include respond-to(phoneAndTablet) {
        width: 50%;
      }

      &:last-of-type {
        margin-bottom: 67px;
      }
    }

    & > a {
      width: 270px;
      height: 50px;
      box-shadow: 0 5px 5px rgba(0, 0, 1, 0.2);
      background-color: #ffffff;
      color: #3a30f8;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
      letter-spacing: 1.28px;
      display: block;
      text-align: center;
      border-radius: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
      z-index: 999;

      @include respond-to(phoneAndTablet) {
        width: 50%;
        position: absolute;
        bottom: 0;
        left: 25%;
        right: 25%;
      }
    }
  }
}
