@import "../utils/variables";
@import "../utils/mixins";

.content__audience {
  background-color: #3a2ff8;
  display: flex;
  justify-content: flex-end;
  margin-top: 217px;
  padding-bottom: 38px;
  position: relative;
  width: 100%;

  @media screen and (min-width: 1025px) and (max-width: 1919px) {
    margin-top: 130px;
    padding-bottom: 20px;
  }

  @include respond-to(tablet) {
    margin-top: 60px;
    padding-bottom: 50px;
  }

  @include respond-to(smallScreen) {
    flex-direction: column;
    margin-top: 30px;
    padding-bottom: 25px;
  }

  & > * {
    width: 61.3%;
  }

  & > div:first-of-type {
    margin-top: 80px;
    width: 19.2%;

    @media screen and (min-width: 1025px) and (max-width: 1919px) {
      width: 31%;
    }

    @include respond-to(smallScreen) {
      margin-top: 25px;
      margin-bottom: 30px;
      padding-right: 10px;
      padding-left: 10px;
      width: 100%;
    }

    @include respond-to(tablet) {
      width: 34%;
    }

    & > h1 {
      font-family: Roboto, sans-serif;
      letter-spacing: 1.6px;
      line-height: 30px;
      margin-bottom: 74px;
      text-transform: uppercase;
      @include size(110px);
      @include text(#ffffff, rem(20), 700);

      @include respond-to(smallScreen) {
        margin: auto;
      }
    }

    & > p:first-of-type {
      font-family: Roboto, sans-serif;
      line-height: 30px;
      @include size(330px);
      @include text(#ffffff, rem(18), 300);

      @include respond-to(phoneAndTablet) {
        width: 100%;
      }

      & > span {
        font-weight: 700;
      }
    }

    & > p:last-of-type {
      font-family: Roboto, sans-serif;
      line-height: 30px;
      margin-bottom: 95px;
      @include size(276px);
      @include text(#ffffff, rem(18), 300);

      @include respond-to(smallScreen) {
        margin-bottom: 20px;
        @include size(100%);
      }

      @include respond-to(tablet) {
        margin-bottom: 40px;
        @include size(100%);
      }
    }

    & > a {
      font-family: Roboto, sans-serif;
      line-height: 30px;
      text-transform: uppercase;
      letter-spacing: 1.28px;
      box-shadow: 0 5px 5px rgba(0, 0, 1, 0.2);
      background-color: #ffffff;
      display: block;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 25px;
      @include size(270px, 50px);
      @include text(#3a30f8, rem(16), 700);

      @include respond-to(tablet) {
        @include size(100%);
      }
    }
  }

  & > img {
    position: absolute;
    left: 0;
    width: 24%;
    height: auto;
    max-width: 511px;
    opacity: 0.1;
    @include size(24%);

    @include respond-to(smallScreen) {
      display: none;
    }
  }

  &-wrapper {
    position: relative;
    top: -60px;
    overflow: hidden;
    @include size(61.25%, 39.063vw);

    @media screen and (min-width: 1025px) and (max-width: 1919px) {
      height: 38.576vw;
    }

    @include respond-to(tablet) {
      top: 0;
      height: auto;
    }

    @include respond-to(smallScreen) {
      position: relative;
      top: 0;
      overflow: hidden;
      padding-left: 10px;
      padding-right: 10px;
      @include size(100%)
    }

    & > img {
      max-width: 1176px;
      @include size(100%)
    }

    & > p {
      margin-top: 0;
      margin-bottom: 0;
      position: absolute;
      bottom: -54px;
      text-align: right;
      right: 31.7%;
      opacity: 0.5;
      font-family: "Rubik Mono One", sans-serif;
      line-height: 182.84px;
      letter-spacing: 15px;
      @include size(71%);
      @include text(#ffffff, rem(185), 400);

      @include respond-to(tablet) {
        bottom: 0;
        font-size: rem(90);
        line-height: 100px;
        right: 0;
        width: 100%;
      }

      @media screen and (min-width: 1025px) and (max-width: 1919px) {
        opacity: 0.5;
        font-family: "Rubik Mono One", sans-serif;
        line-height: 150px;
        letter-spacing: 6.4px;
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        bottom: -45px;
        @include text(#ffffff, rem(130), 400);
      }

      @include respond-to(smallScreen) {
        bottom: 0;
        right: 30px;
        font-size: rem(24);
        line-height: 36px;
      }

      & > span {
        display: block;
        letter-spacing: -46px;
        width: 96%;

        @media screen and (min-width: 1025px) and (max-width: 1919px) {
          letter-spacing: 0;
          width: 100%;
        }

        @include respond-to(phoneAndTablet) {
          letter-spacing: 15px;
          width: 100%;
        }
      }
    }
  }
}
