@import "../utils/variables";
@import "../utils/mixins";

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  &__text-wrapper {
    position: absolute;
    z-index: 99;
    width: 35%;
    left: 19.2%;
    top: 3.6%;

    @media screen and (min-width: 1025px) and (max-width: 1919px) {
      top: 5%;
      left: 10%;
      width: 670px;
    }

    @include respond-to(phoneAndTablet) {
      position: relative;
      top: 0;
      left: 15px;
      width: 39%;
    }

    @include respond-to(smallScreen) {
      padding-right: 15px;
      padding-left: 15px;
      left: unset;
      text-align: center;
      width: 100%;
    }

    &::before {
      content: "";
      border: 1px solid #cdcdcd;
      border-left: none;
      border-top: none;
      position: absolute;
      right: 38%;
      top: 5%;
      @include size(17px, 72px);

      @media screen and (min-width: 1025px) and (max-width: 1919px) {
        top: 8%;
        right: 270px;
        height: 61px;
      }

      @include respond-to(phoneAndTablet) {
        display: none;
      }
    }

    &::after {
      content: "";
      display: block;
      background-image: url("/assets/img/arrow.png");
      margin-top: 34px;
      margin-left: 37px;
      animation: move 1s linear 0s infinite alternate;
      @include size(11px, 95px);
      @include respond-to(smallScreen) {
        display: none;
      }
    }
  }

  &__description {
    font-family: Roboto, sans-serif;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    @include text(#000000, rem(20), 700);
    width: 50%;
    margin-left: 5px;

    @include respond-to(phoneAndTablet) {
      margin-left: 0;
      width: 100%;
    }
  }

  & > img {
    position: relative;
    top: -20px;
    @include size(26.5%, auto);

    @include respond-to(phoneAndTablet) {
      position: absolute;
      z-index: -999;
    }
  }

  &__advantages {
    display: flex;
    flex-wrap: wrap;
    margin-top: 88px;
    position: relative;
    width: 85.4%;

    @include respond-to(desktop){
      &::before {
        content: 'Преимущества';
        position: absolute;
        top: 4.7%;
        left: 51.5%;
        font-family: Roboto, sans-serif;
        line-height: 30px;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        @include text(#3a30f8, rem(20), 700)
      }
    }

    @include respond-to(phoneAndTablet) {
      justify-content: space-around;
      margin-top: 0;
      padding-right: 15px;
      padding-left: 15px;
      width: 100%;
    }

    @include respond-to(smallScreen) {
      flex-direction: column;
    }

    & > img {
      position: absolute;
      bottom: -5%;
      left: 0;
      z-index: -999;
      @include size(31%, auto);
      max-width: 511px;

      @include respond-to(smallScreen) {
        display: none;
      }
    }
  }

  &__rizor {
    position: absolute;
    top: 46.2%;
    left: -42%;
    @include size(152%, auto);
    @media screen and (min-width: 1025px) and (max-width: 1919px) {
      top: 60%;
      left: 0;
      width: 90%;
    }
    @include respond-to(tablet) {
      top: 270px;
      left: 0;
      width: 70%;
    }

    @include respond-to(smallScreen) {
      width: 60%;
      margin: auto;
      position: relative;
      top: 0;
      left: 0;
    }

    & > img {
      @include size(100%);
      max-width: 374px;
    }
  }

  & > .content__video {
    margin-bottom: 20px;

    @include respond-to(smallScreen) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@keyframes move {
  from {transform: translateY(0)}
  to {transform: translateY(-10px);}
}

@keyframes transform {
  from {
    background-color: #3a30f8;
    @include size(8px, 8px)
  }
  to {
    background-color: white;
    border: 2px solid #3a30f8;
    @include size(14px, 14px)
  }
}
