@import "../utils/variables";
@import "../utils/mixins";

.content__nav {
  list-style-type: none;
  position: absolute;
  right: 4.9%;
  z-index: 99;
  @include respond-to(tablet) {
    right: 4%;
  }

  @include respond-to(smallScreen) {
    display: none;
  }

  &::before, &::after {
    content: "";
    display: block;
    position: relative;
    left: 8px;
    background-color: #3a30f8;
    @include size(2px, 17vw);
    @include respond-to(tablet) {
      height: 10vw;
    }
  }

  &::before {
    bottom: 17px;
  }

  &::after {
    top: 17px;
  }

  &--advantages {
    right: -11.35%;
    padding: 0;
    @media screen and (min-width: 1025px) and (max-width: 1919px) {
      right: -14%;
    }
    @include respond-to(tablet) {
      right: 4%;
    }
    @include respond-to(smallScreen) {
      display: none;
    }

    &::before {
      bottom: 29px;
    }

    &::after {
      top: 29px;
    }
  }

  &-item {
    @include size(14px, 14px);
    display: inline-block;
    text-align: center;

    &:hover::before {
      animation: transform 0.2s linear 0s 1 normal;
      animation-fill-mode: forwards;
    }

    &::before {
      content: "";
      display: inline-block;
      border-radius: 50%;
      background-color: #3a30f8;
      @include size(8px, 8px);
    }
  }
}
