@import "../utils/variables";
@import "../utils/mixins";

.content__title {
  font-family: "Rubik Mono One", sans-serif;
  letter-spacing: 6.4px;
  line-height: 1.2;
  margin-bottom: 0;
  @include text(#000000, rem(80), 400);

  @include respond-to(phoneAndTablet) {
    font-size: rem(32);
  }

  & > span {
    letter-spacing: -12px;
    line-height: 1.2;

    @include respond-to(phoneAndTablet) {
      letter-spacing: 0;
    }
  }

  &--side {
    transform: rotate(-90deg);
    width: 45.6%;
    font-family: "Rubik Mono One", sans-serif;
    line-height: 1;
    letter-spacing: 12.4px;
    text-align: end;
    position: absolute;
    right: -20%;
    top: 7.3%;
    z-index: -999;
    @include text(#f8f8f8, rem(175), 400);

    & > span {
      display: block;
      letter-spacing: -45px;
      line-height: 0.95;

      @include respond-to(phoneAndTablet) {
        letter-spacing: 6.4px;
      }

      @media screen and (min-width: 1025px) and (max-width: 1919px) {
        letter-spacing: -20px;
      }
    }

    @media screen and (min-width: 1025px) and (max-width: 1919px) {
      font-size: 6.9375rem;
      transform: rotate(0);
      right: -10%;
      top: -16%;
      width: 60%;
    }

    @include respond-to(phoneAndTablet) {
      display: none;
    }
  }
}
