@import "modules/header";
@import "modules/content";
@import "modules/footer";

@import url('https://fonts.googleapis.com/css?family=Roboto:700|Rubik+Mono+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
